<div class="row">
    <h1 class="col s12" style="text-align: center;">Check user </h1>
  </div>
  <form id="form1" action="/" method="post"  style="text-align: center;" >
    <div class="row">
      <div class="input-field col s12">
        <input id="title" name="username" type="text" class="validate" required>
        <button class="btn btn-primary">Check</button>
        <span class="helper-text" data-error="Введите название"></span>
      </div>
    </div>
    <label for="title">  Username</label>
  </form>

